.loginContainer{
  font:14px Arial;
  font-weight:bold;
  padding:-15px;
  margin:1px;
}

.lgnTable{
  position:relative;
  left:30px;
  top:-25px;
}

.lgnTable .lgnLabel{
  margin-left:15px;
  margin-top:25px;
  font:20px Arial;
}

.lgnComp{
  position:relative;
  padding-left:30px;
  border-style: outset;
  border-radius: 15px;
  padding: 5px;
  width:300px;
}

.innerLgn{
  margin-left: 15px;
  padding-top: 3px;
  padding-bottom: 25px;
}

a{
  margin-left:75px;
  text-decoration:none;
  padding:7px;
  background:skyblue;
  font: 16px Arial;
  width:250px;
  color:white;
  border-radius:4px;
}

.chatarea{
  overflow-y:auto;
  height:200px;
  width:400px;
  border:2px solid skyblue;
}

.chatbox li{
  font:13px Arial;
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid;
  padding:5px;
}

#username, #room, #message{
  border-radius:3px;
  width:200px;
  height:25px;
  margin-left:5px;
}

#send{
  height:30px;
}