<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
	<script src="chat-app.js"></script>
	  
	<title>Send Message</title>
</head>
<body>

	<div ng-app="chatApp" ng-controller="ChatController">
		
		<div class="chatarea">
		  <ul class="chatbox">
		    <li ng-repeat="message in messages">{{ message.from }}: {{ message.content }}</li>
		  </ul>
		</div>
		<br/>
		<form ng-submit="addMessage()">
			<div class="form-group">
				<table>
					<tr>
						<td></td>
						<td><input type="text" ng-model="message" id="message"></td>
						<td><input type="submit" value="Send" id="send"></td>
					</tr>
				</table>
			</div>
		</form>
	</div>

</body>
</html>